{% extends 'core/base.html' %}

{% block content %}
<div>
    <p>
        Пригласительный код: <pre>{{ chatroom.invite_code }}</pre>
    </p>
    <p>
        <textarea id="chat-log" cols="100" rows="20" readonly></textarea>
    </p>
    <p>
        <input id="chat-message-input" type="text" size="100" autofocus><br>
        <input id="chat-message-submit" type="button" value="Отправить">
    </p>
</div>
{% endblock %}

{% block script %}
{{ chatroom.invite_code|json_script:"room-code" }}
<script>
    const chatLog = document.getElementById('chat-log');
    const chatMessageInput = document.getElementById('chat-message-input');
    const chatMessageSubmit = document.getElementById('chat-message-submit');

    const roomCode = JSON.parse(document.getElementById('room-code').textContent);
    const username = "{{ username }}";

    console.log(roomCode, username)

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/room/'
        + roomCode
        + '/'
    );

    chatSocket.addEventListener('message', e => {
        const data = JSON.parse(e.data);
        chatLog.value += (data.username + ': ' + data.message + '\n');
    })

    chatSocket.addEventListener('close', e => {
        console.log('Chat socket closed');
    })

    chatMessageInput.addEventListener('keyup', e => {
        if (e.keyCode === 13) {
            chatMessageSubmit.click();
        }
    })

    chatMessageSubmit.addEventListener('click', e => {
        const message = chatMessageInput.value;
        chatSocket.send(JSON.stringify({
            'username': username,
            'message': message,
        }));
        chatMessageInput.value = "";
    });
</script>
{% endblock %}